{% extends "base.html" %}
{% block body %}
<p>
    あなたは、『数理最適化の世界(The World of Mathematical Optimization)』にある『組合せ最適化の迷宮』の冒険者です。<br>
    迷宮は5階層からなり、各階層のボスが出す問題を解かないと先に進めません。さぁ、最下層にある秘宝を見つけに行きましょう。
</p>
<ul>
    <li>Python の数理最適化ライブラリ ortoolpy を使って、全5問の <strong>組合せ最適化問題</strong> を解いてください。</li>
</ul>
<form action="/start" method="POST">
    <p>
        投稿者<span style="color:red">*</span>:
        <input type="text" name="user" size="30" value="{{ user }}" placeholder="名前" required>
        <input type="submit" value="始める">
    </p>
</form>
<h4>参考リンク</h4>
<ul>
    <li><a href="https://qiita.com/SaitoTsutomu/items/98167dc25c7f133899f7" target="_blank">初歩からの数理モデル - Qiita</a></li>
    <li><a href="https://qiita.com/SaitoTsutomu/items/bfbf4c185ed7004b5721" target="_blank">組合せ最適化を使おう - Qiita</a></li>
    <li><a href="https://qiita.com/SaitoTsutomu/items/070ca9cb37c6b2b492f0" target="_blank">最適化におけるPython - Qiita</a>
    </li>
    <li><a href="https://github.com/SaitoTsutomu/OptRPG" target="_blank">SaitoTsutomu/OptRPG - GitHub</a></li>
</ul>
{% endblock %}